input[type="checkbox"] {
	position: absolute;

	clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]+label {
	position: relative;

	display: inline-block;
	padding-left: 2rem;

	font-weight: 600;

	user-select: none;
}

input[type="checkbox"]+label::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	margin: auto;
	margin-right: 0.25rem;

	line-height: .65;
	vertical-align: .1em;

	background-color: #fff;
	border: 0.13rem solid #2c3e50;
	border-radius: 0.25rem;

	content: "";

}

input[type="checkbox"]:checked+label::before {
	font-size: 1.75rem;

	border: 0.13rem solid #0eb2bf;

	content: "\2713";
}

input[type="checkbox"]:focus+label::before {
	box-shadow: 0 0 0 3px #ffbf47;
}